---
//const pagenames = ["Home", "Browse", "Submit", "Galleries", "Help", "Policies", "About"];
const pageData = {
    help: "Help Overview",
    faq: "FAQ",      
    helpsearch: "Searching Data",
    helpdownload:"Downloading Data",
    helpimagesatebi: "Image Data at EBI",
    helptools: "Supporting Tools"
}
const submHelp = {
  helpfilelist: "File List Help",
    submitannotations: "Submit Annotations",
    aiglossary: "Annotation Types"
}
const rembiHelp = {
  rembihelpoverview: "REMBI Overview",
  rembihelplab: "REMBI Lab Guide",
  rembihelpexamples: "REMBI Examples",
}
---
<!--  <nav class="vf-navigation vf-navigation--main | vf-sidebar" style="margin-top: 0.5rem;"> -->
    <ul class="vf-list vf-list--l">
      {Object.entries(pageData).map(([key, value]) => (
        <li class="vf-list__item">
            <a href={`/${key}`} class="vf-navigation__link">{value}</a>
        </li>
        )
      )}
    </ul>
    <details class="vf-details" open>
      <summary class="vf-details--summary">Submission Help</summary>
    <ul class="vf-list vf-list--l">
      {Object.entries(submHelp).map(([key, value]) => (
        <li class="vf-list__item">
            <a href={`/${key}`} class="vf-navigation__link">{value}</a>
        </li>
        )
      )}
    </ul> 
  </details>   
    <details class="vf-details" open>
      <summary class="vf-details--summary">REMBI Help</summary>
    <ul class="vf-list vf-list--l">
      {Object.entries(rembiHelp).map(([key, value]) => (
        <li class="vf-list__item">
            <a href={`/${key}`} class="vf-navigation__link">{value}</a>
        </li>
        )
      )}
    </ul> 
  </details>   
<!-- </nav> -->