---
//const pagenames = ["Home", "Browse", "Submit", "Galleries", "Help", "Policies", "About"];
const pageData = {
  "faq": "FAQ",      
  "help-search": "Searching Data",
  "help-download":"Downloading Data",
  "help-tools": "Supporting Tools",
  "galleries-contribute": "Contribute to Galleries"
}
const submHelp = {
  "help-file-list": "File List Help",
  "submit-annotations": "Submit Annotations",
  "ai-glossary": "Annotation Types",
  "linking-archives": "Linking to Other Archives"
}
const metadataHelp = {
  "rembi-help-overview": "REMBI Overview",
  "rembi-help-lab": "REMBI Lab Guide",
  "rembi-help-examples": "REMBI Examples",
  "mifa-help-overview": "MIFA Overview"
}
---
<!--  <nav class="vf-navigation vf-navigation--main | vf-sidebar" style="margin-top: 0.5rem;"> -->
  <ul class="vf-list vf-list--l">
    <li class="vf-list__item">
      <a href={`/bioimage-archive/help`} class="vf-navigation__link">Help Overview</a>
  </li>
  </ul>
  <details class="vf-details" open>
    <summary class="vf-details--summary">Submission Help</summary>
  <ul class="vf-list vf-list--l">
    {Object.entries(submHelp).map(([key, value]) => (
      <li class="vf-list__item">
          <a href={`/bioimage-archive/${key}`} class="vf-navigation__link">{value}</a>
      </li>
      )
    )}
  </ul> 
</details>   
  <details class="vf-details" open>
    <summary class="vf-details--summary">Metadata Help</summary>
  <ul class="vf-list vf-list--l">
    {Object.entries(metadataHelp).map(([key, value]) => (
      <li class="vf-list__item">
          <a href={`/bioimage-archive/${key}`} class="vf-navigation__link">{value}</a>
      </li>
      )
    )}
  </ul> 
</details>  
    <ul class="vf-list vf-list--l">
      {Object.entries(pageData).map(([key, value]) => (
        <li class="vf-list__item">
            <a href={`/bioimage-archive/${key}`} class="vf-navigation__link">{value}</a>
        </li>
        )
      )}
    </ul>
<!-- </nav> -->