---
import BaseLayout from '../../layouts/BaseLayout.astro';

import exports from "../../data/bia-images-export.json";
import SourceImage from "../../components/SourceImage.astro"

export function getStaticPaths() {
  return Object.keys(exports["images"]).map((uuid) => {
    return {
      params:  { uuid: uuid }
    };
  });
}

const { uuid } = Astro.params;

const image = exports["images"][uuid];

const tissueX = (1e6 * image.PhysicalSizeX * image.sizeX).toPrecision(2);
const tissueY = (1e6 * image.PhysicalSizeY * image.sizeY).toPrecision(2);

---

<BaseLayout pageTitle={image["accession_id"] + ":" + image["alias"]}>
  <body>
    <div class="vf-stack vf-stack--500">
        <section class="vf-content | embl-grid embl-grid--has-centered-content">
            <div></div>
            <div>
                <h1 class="vf-intro__heading vf-intro__heading--has-tag">{ image.study_accession_id }:{ image.alias }<a href="JavaScript:Void(0);" class="vf-badge vf-badge--primary vf-badge--phases">alpha</a></h1>
                <h2 class="vf-intro__subheading">{image.name}</h2>
                {image.original_relpath}
                <p class="studytitle">{image.study_title}</p>
            </div>
            <div>
                Released {image.release_date}<br>
                Modified 2023-05-07
            </div>
        </section>
        <section class="vf-content | embl-grid embl-grid--has-centered-content">
            <div>
                <h3>Image metadata</h3>
                <b>Image size: </b> {tissueX}μm x {tissueY}μm<br>
                {image.sizeX} x {image.sizeY} pixels<br />
                {image.sizeC} channels
                <br /> <br />
                {Object.entries(image.attributes).map(([key, value]) => (
                    <p>{key}: {value}</p>
                ))}
            </div>
            <div>
                <iframe style="width: 100%; height: 500px" name="vizarr" src={image.vizarr_uri}></iframe>
            </div>
            <div>
                <h3>Access images</h3>
                License: CC0 <br/>
                <br/>
                <a href={image.vizarr_uri}>
                    <button class="vf-button vf-button--primary vf-button--sm">Download file</button>
                </a> 
                <a href={image.vizarr_uri}>
                    <button class="vf-button vf-button--primary vf-button--sm">Copy OME-Zarr URI</button>
                </a>
                <h3>Visualise</h3>
                <a href={image.vizarr_uri}>
                    <button class="vf-button vf-button--primary vf-button--sm">Open in Vizarr viewer</button>
                </a>
                <a href={image.itk_uri}>
                    <button class="vf-button vf-button--primary vf-button--sm">Open in ITK viewer</button>
                </a>
            </div>
        </section>
        { ( image.source_image_uuid != null ) &&
            <SourceImage image={ image} />
        }
        <section class="vf-content | embl-grid embl-grid--has-centered-content">
            <div>
                <h3>Study</h3>
            </div>
            <div>Study details here</div>
            <div></div>
        </section>
        <section class="vf-content | embl-grid embl-grid--has-centered-content">
            <div>
                <h3>Biosample</h3>
            </div>
            <div>
                <b>Title:</b> {image["biosample_title"]}<br>
                <b>Organism scientific name:</b>{image["biosample_organism_scientific_name"]}<br>
                <b>Organism common name:</b>{image["biosample_organism_common_name"]}<br>
                <b>NCBI taxon:</b>{image["biosample_ncbi_taxon"]}<br>
                <b>Description:</b>{image["biosample_description"]}<br>
                <b>Biological entity:</b>{image["biosample_biological_entity"]}<br>
                <b>Experimental variables:</b>{image["biosample_experimental_variables"]}<br>
                <b>Extrinsic variables:</b>{image["biosample_extrinsic_variables"]}<br>
                <b>Intrinsic variables:</b>{image["biosample_intrinsic_variables"]}<br>
            </div>
            <div></div>
        </section>
        <section class="vf-content | embl-grid embl-grid--has-centered-content">
            <div>
                <h3>Specimen</h3>
            </div>
            <div>
                <b>Title:</b> {image["specimen_title"]}<br>
                <b>Sample preparation:</b> {image["specimen_sample_preparation_protocol"]}<br>
                <b>Growth protocol:</b> {image["specimen_growth_protocol"]}<br>
            </div>
            <div></div>
        </section>
        <section class="vf-content | embl-grid embl-grid--has-centered-content">
            <div>
                <h3>Image acquisition</h3>
            </div>
            <div>
                <b>Title:</b> {image["image_acquisition_title"]}<br>
                <b>Imaging method:</b> {image["image_acquisition_imaging_method"]}<br>
                <b>Imaging instrument:</b> {image["image_acquisition_imaging_instrument"]}<br>
                <b>Image acquisition_parameters:</b> {image["image_acquisition_image_acquisition_parameters"]}<br>
            </div>
            <div></div>
        </section>
    </body>
</BaseLayout>
